/* Cards */
.post-card {
  border: 1px solid #7878781c;
  border-radius: 6px;
  box-shadow: 0 0 4px 2px #8181810d;
  display: grid;
  grid-template-columns: min(200px, 50%) 1fr;
  margin: 1rem 0.625rem;
}

.post-image {
  border-radius: 4px;
  height: 135px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.post-card .entry-category-box {
  margin: 1rem 0 0 1.5rem;
  text-align: left;
}

.post-card .entry-category-box h2 {
  font-size: 1.3rem;
}

