/* Tables */
[class^="post-"] table {
  border: 1px solid #9a9a9a26;
  border-collapse: collapse;
  margin: 0;
  overflow-x: auto;
  text-align: left;
  width: 100%;
}

.rtl [class^="post-"] table {
  text-align: right;
}

[class^="post-"] table thead th {
  color: var(--featured-posts-title);
  font-weight: 700;
  vertical-align: bottom;
}

[class^="post-"] table td,
[class^="post-"] table th {
  border: 1px solid #9a9a9a26;
  padding: 0.5em 0.75em;
}
.center{display:table;margin:0 auto;position:relative}
.dark table,.dark td{border-color:#ffffff1a}
