/* Utility Lists */
.aligned-list {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.aligned-list li {
  text-align: right;
  margin-bottom: 10px;
}

/* Container */
[class^="post-"] {
  padding: 1rem;
}
div#promo-footer{margin:0;overflow:hidden;position:relative}
ul.socialFilter{margin:0 -5px}.socialFilter a:before{-webkit-font-smoothing:antialiased;border-right:1px solid #ffffff45;float:left;font-size:20px;height:40px;line-height:40px;margin-right:-12px;text-align:center;vertical-align:middle;width:40px}.socialFilter li{box-sizing:border-box;float:left;margin:10px 0 0;padding:0 5px;width:50%}.socialFilter li:nth-child(1),.socialFilter li:nth-child(2){margin-top:0}.socialFilter li a{border-radius:4px;color:#fff;display:block;font-size:16px;font-weight:400;height:40px;line-height:40px;text-align:center;text-transform:capitalize}
.list-label li{display:block;padding:7px 0;position:relative}
.list-label li a{color:var(--list-text-color);display:block;font-size:14px;font-weight:400;overflow:hidden;text-overflow:ellipsis;text-transform:capitalize;transition:all .3s ease;white-space:nowrap}
.list-label li a:hover{opacity:.8;padding-left:25px;transition:all .3s ease}
.Text .widget-content{color:var(--main-text-color);font-family:var(--text-font);font-size:14px;margin:0}
.list-label .label-count{color:var(--theme-text-color);float:right;font-size:11px;font-weight:700;line-height:16px;position:relative;text-align:center}
.rtl .list-label .label-count{float:left}
.cloud-label li{float:left;margin:0 5px 5px 0;position:relative}
.cloud-label .label-count{display:none}

